*                                   @imdaniel221
docs/**                              @imdaniel221
docs/js/**                           @imdaniel221
docs/vendor/**                       @imdaniel221
sdk/python/**                        @imdaniel221
docs/schema/**                       @imdaniel221
.github/workflows/**                 @imdaniel221
